<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Vanilla-Scroll Demo | {{title}}</title>
    <meta
        name="description"
        content="A lightweight JavaScript library for creating scroll-based animations with minimal configuration."
    >
    <link
        rel="stylesheet"
        href="/base.css"
    >
    <link
        rel="stylesheet"
        href="/debug.css"
    >
    {{{styleTag}}}
</head>
<body>
{{> @partial-block}}
{{{scriptTag}}}
</body>
</html>