:root
{
    --padding:          24px;
    --padding-half:     calc(var(--padding) * .5);
    --color:            #fff;
    --background-color: #1e1e1e;

    @media (prefers-color-scheme: light)
    {
        --color:            #000;
        --background-color: #fff;
    }
}

*
{
    box-sizing: border-box;
    border:     0;
    margin:     0;
    padding:    0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    display:                    flex;
    flex-flow:                  column;
    overflow-x:                 hidden;
    overflow-y:                 scroll;
    -webkit-overflow-scrolling: touch;
    flex-direction:             column;
    min-width:                  320px;
    min-height:                 100vh;
    font-family:                Arial, 'serif';
    color:                      var(--color);
    background-color:           var(--background-color);

    > section
    {
        > .container
        {
            max-width: 1440px;
            margin:    0 auto;
        }
    }

    a
    {
        color: #61dafb;

        &:visited
        {
            color: #bb86fc;
        }
    }
}
