body
{
    gap:         var(--padding);
    padding-top: var(--padding);

    h1
    {
        font-size: 32px;
    }

    h2
    {
        font-size: 24px;
    }

    h3
    {
        font-size: 18px;
    }

    a
    {
        display: inline-block;
        margin:  -5px;
        padding: 5px;
    }

    pre
    {
        display:       inline-block;
        border:        1px solid var(--color);
        padding:       var(--padding-half);
        overflow:      auto;
        border-radius: 7px;
    }

    .installations
    {
        display:     flex;
        flex-flow:   column;
        align-items: flex-start;
    }

    .flex
    {
        display:     flex;
        flex-flow:   column;
        align-items: flex-start;
        gap:         var(--padding);
    }

    > section
    {
        padding: 0 var(--padding);

        > h2
        {
            padding-bottom: var(--padding);
        }

        .example
        {
            width:     100%;
            display:   flex;
            flex-flow: column;
            gap:       var(--padding-half);

            + .example
            {
                margin-top: calc(var(--padding) * 4);
            }

            .example-title
            {
                display:         flex;
                flex-flow:       row nowrap;
                align-items:     center;
                justify-content: space-between;
            }

            .example-body
            {
                display:   flex;
                gap:       var(--padding);
                flex-flow: wrap;

                .code,
                iframe
                {
                    border:        2px solid var(--color);
                    border-radius: var(--padding-half);
                    flex:          1;
                    min-width:     400px;
                }

                .code
                {
                    padding: var(--padding);

                    .file
                    {
                        &:not(:last-child)
                        {
                            margin-bottom: var(--padding);
                        }

                        pre
                        {
                            width: 100%;
                        }
                    }
                }

                iframe
                {
                    position: sticky;
                    top:      var(--padding);
                    resize:   vertical;
                    height:   500px;
                }

                ins
                {
                    color:           green;
                    text-decoration: none;
                }

                del
                {
                    color:           red;
                    text-decoration: none;
                }
            }
        }
    }
}
