<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Vanilla-Scroll Demo</title>
    <meta
        name="description"
        content="A lightweight JavaScript library for creating scroll-based animations with minimal configuration."
    >
    <link
        rel="stylesheet"
        href="/base.css"
    >
    <link
        rel="stylesheet"
        href="/index.css"
    >
</head>
<body>
<section>
    <div class="container flex">
        <h1>Vanilla-Scroll Demo</h1>
        <p>A lightweight JavaScript library for creating scroll-based animations with minimal configuration.</p>
        <a
            href="https://github.com/Spomsoree/vanilla-scroll"
            target="_blank"
        >On Github</a>
        <h2>Installation</h2>
        <div class="installations">
            <pre><code>npm i @spomsoree/vanilla-scroll</code></pre>
        </div>
    </div>
</section>
<section>
    <div class="container flex">
        <h2>Examples</h2>
        <ul>
            {{#each groups}}
                <li>
                    <a href="/{{this.lower}}/">{{this.name}} ({{this.description}})</a>
                </li>
            {{/each}}
        </ul>
    </div>
</section>
</body>
</html>