:root
{
    --indicator-count: 0;
    --indicator-level: 0;
}

.debug
{
    --height:      20px;
    position:      fixed;
    left:          5%;
    bottom:        30px;
    width:         90%;
    border-bottom: 2px solid #f0f;
}

.debug .indicator
{
    position:        absolute;
    z-index:         calc(-1 * var(--indicator-level));
    display:         flex;
    align-items:     flex-start;
    justify-content: space-between;
    bottom:          0;
    height:          calc(var(--indicator-level) * var(--height));
    font-size:       12px;
    border-left:     1px solid;
    overflow:        hidden;
}

.debug .indicator:hover
{
    overflow: visible;
}

.debug .indicator::before
{
    display:      inline-flex;
    align-items:  center;
    height:       var(--height);
    white-space:  nowrap;
    padding-left: 5px;
}

.debug .indicator::before
{
    content: attr(indicator-name);
}

.debug .indicator#current-position
{
    z-index:           1;
    bottom:            0;
    height:            calc(var(--indicator-count) * var(--height));
    border-left-color: #f0f !important;
}

.debug .indicator#current-position::after
{
    content: none;
}

.debug .indicator.trigger
{
    top:        0;
    height:     var(--height);
    border:     1px solid #888 !important;
    border-top: 0 !important;
}

.debug .indicator.trigger::after
{
    color: #888;
}

.debug .indicator.step
{
    border:        1px solid;
    border-bottom: 0;
}