:root
{
    --trigger-count:   0;
    --indicator-count: 0;
    --indicator-level: 0;
}

.debug
{
    --height:      20px;
    position:      fixed;
    left:          5vw;
    bottom:         calc(var(--trigger-count) * var(--height));
    width:         90vw;
    height:        2px;
    border-bottom: 2px solid #f0f;
}

.debug *
{
    box-sizing: border-box;
}

.debug .indicator
{
    position:        absolute;
    z-index:         calc(-1 * var(--indicator-level));
    display:         flex;
    align-items:     flex-start;
    justify-content: space-between;
    bottom:          0;
    height:          calc(var(--indicator-level) * var(--height));
    font-size:       12px;
    overflow:        hidden;
    pointer-events:  none;
}

.debug .indicator::before
{
    height:           calc(var(--height) - 1px);
    display:          inline-flex;
    align-items:      center;
    white-space:      nowrap;
    padding-left:     5px;
    padding-right:    5px;
    background-color: #fff;
    pointer-events:   all;
}

.debug .indicator::after
{
    content:  '';
    position: absolute;
    z-index:  -1;
    height:   calc(100% - 2px);
    width:    calc(100% - 2px);
    border:   1px solid #fff;
}

.debug .indicator:hover
{
    z-index:  9999999;
    overflow: visible;
}

.debug .indicator::before
{
    content: attr(indicator-name);
}

.debug .indicator#current-position
{
    z-index:        1;
    bottom:         0;
    height:         calc(var(--indicator-count) * var(--height));
    border-top:     1px solid transparent;
    border-left:    1px solid #f0f;
    border-radius:  2px 0 0 0;
    pointer-events: none;
}

.debug .indicator#current-position::before
{
    border-radius:  1px 1px 1px 0;
    pointer-events: all;
}

.debug .indicator#current-position::after
{
    border-right: none;
}

.debug .indicator.trigger
{
    top:           2px;
    height:        calc(var(--indicator-level) * var(--height));
    border:        1px solid #888;
    border-top:    0;
    border-radius: 0 0 2px 2px;
}

.debug .indicator.trigger::before
{
    margin-top:    auto;
    border-radius: 0 0 1px 1px;
}

.debug .indicator.step
{
    border:        1px solid;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
}

.debug .indicator.step::before
{
    border-radius: 1px 1px 0 0;
}